.root {

}
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial";



}
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
}
.button {
    -fx-padding: 5 5 5 5;
    -fx-border-color: Black;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: lightGrey;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: Black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.table-view {
    -fx-base: lightGrey;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

#imsMainTopVbox {
        -fx-border-color: lightGrey;
        -fx-border-width: 5px;

}

#IMSLogo{
        -fx-font-size: 25;
        -fx-font-weight: bold;
}

#imsMainPartsBorderPane {
        -fx-border-color: GRAY;
        -fx-border-width: 5px;
}

#imsMainProductsBorderPane {
        -fx-border-color: GRAY;
        -fx-border-width: 5px;
}

#imsMainPartsLabel{
        -fx-font-size: 18;
        -fx-font-weight: bold;
}

#imsMainProductsLabel{
        -fx-font-size: 18;
        -fx-font-weight: bold;
}

#imsMainExitButton{
        -fx-font-size: 14;
        -fx-font-weight: bold;

}


#addPartLabel{
        -fx-font-size: 18;
        -fx-font-weight: bold;
}
#addProductLabel{
        -fx-font-size: 18;
        -fx-font-weight: bold;
}
#PartsGridPane{
        -fx-border-color: GRAY;
        -fx-border-width: 5px;
        -fx-background-color: lightGrey;
}
.dialog-pane:header{
        -fx-font-size: 18;
        -fx-font-weight: bold;

}

